@import "tailwindcss";
body {
	min-height: 100vh;
	background: linear-gradient(135deg, #2e2e2e, #000000);
	/* display: flex;
	align-items: center;
	justify-content: center; */
	color: #e0e0e0;
	font-family: Arial, sans-serif;
}
